@import "./_vars.scss";

@media screen and (min-width: 1641px) {
  .slider__title {
    font-size: 40px;
  }

  .slider__header {
    padding: 0 352px;
  }
}

@media screen and (max-width: 1640px) {
  .slider__title {
    margin-top: 3%;
    font-size: 40px;
  }

  .slider__header {
    padding: 0 352px;
  }
}

@media screen and (max-width: 1499px) {
  .slider__title {
    margin-top: 3%;
    font-size: 40px;
  }

  .slider__header {
    padding: 0 202px;
  }
}

@media screen and (max-width: 1200px) {
  .slider__title {
    margin-top: 3%;
    font-size: 40px;
  }

  .slider__header {
    padding: 0 152px;
  }
}

@media screen and (max-width: 1059px) {
  .slider__title {
    margin-top: 3%;
    font-size: 24px;
  }

  .slider__header {
    padding: 0 102px;
  }
}

@media screen and (max-width: 815px) {
  .slider__title {
    margin-top: 3%;
    font-size: 24px;
  }

  .slider__header {
    padding: 0 102px;
    flex-direction: column;
    row-gap: 2rem;
  }

  .slider__tabs {
    flex-direction: column;
    align-items: center;
  }
}

.container-slider {
  .ui-widget.ui-widget-content {
    border: none;
    margin-top: 76px;
  }

  .slider__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider__tabs {
    display: flex;
    column-gap: 2rem;
  }

  .slider__tab {
    background-color: $color-one;
    border: none;
  }

  .slider__buttons {
    display: flex;
    column-gap: 1rem;
  }

  .slider__button {
    width: 48px;
    height: 48px;
    padding-top: 8px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    background: #f6f6fa;
  }

  .slider__button:hover {
    background: $font-color-second;
  }

  .slider__button:focus {
    border: 2px solid $color-second;
  }

  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0.5em 0;
    text-decoration: none;
  }

  .ui-helper-clearfix:before,
  .ui-helper-clearfix:after {
    content: none;
  }

  .ui-widget-header {
    background: $color-one;
    border: none;

    .ui-state-active,
    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited {
      color: $color-second;
      border: none;
      border-bottom: 2px solid $color-second;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-align: left;
      font-family: "Roboto", sans-serif;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
      border: none;
      background: $color-one;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-align: left;
      color: $font-color;
      font-family: "Roboto", sans-serif;
    }

    a:hover {
      color: $color-second;
      cursor: pointer;
    }
    a:focus {
      color: $color-second;
      cursor: pointer;
    }
  }

  .ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 3em 16vw;
  }

  .slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: $color-second;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  .slider__text {
    max-width: 250px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: $font-color;
    font-family: "Roboto", sans-serif;
  }

  .slick-dots {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slick-dots li.slick-active button:before {
    color: $color-second;
  }

  .slick-dots li {
    width: 10px;
  }

  .slick-dots li button {
    font-size: 8px;
    width: 8px;
  }

  .slick-dots li button::before {
    font-size: 8px;
    width: 8px;
  }
}

.slider__title {
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: $font-color;
  font-family: "Montserrat", sans-serif;
}
