@import "./_vars.scss";

@media screen and (min-width: 1500px) {
  header {
    padding: 0 352px;
  }
}

@media screen and (max-width: 1499px) {
  header {
    padding: 0 202px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 152px;
  }
}

@media screen and (max-width: 1059px) {
  header {
    padding: 0 102px;
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 0 52px;
  }
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.header__button {
  max-width: 185px;
  height: 40px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  background: $color-one;
  color: $color-second;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid $color-one;
  outline: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.header__button:hover {
  background: $color-second;
  color: $color-one;
}

.header__button:focus {
  background: $color-second;
  color: $color-one;
  border: 1px solid $color-one;
}
