@media screen and (min-width: 1641px) {
  .slider__title {
    font-size: 40px;
  }
  .slider__header {
    padding: 0 352px;
  }
}
@media screen and (max-width: 1640px) {
  .slider__title {
    margin-top: 3%;
    font-size: 40px;
  }
  .slider__header {
    padding: 0 352px;
  }
}
@media screen and (max-width: 1499px) {
  .slider__title {
    margin-top: 3%;
    font-size: 40px;
  }
  .slider__header {
    padding: 0 202px;
  }
}
@media screen and (max-width: 1200px) {
  .slider__title {
    margin-top: 3%;
    font-size: 40px;
  }
  .slider__header {
    padding: 0 152px;
  }
}
@media screen and (max-width: 1059px) {
  .slider__title {
    margin-top: 3%;
    font-size: 24px;
  }
  .slider__header {
    padding: 0 102px;
  }
}
@media screen and (max-width: 815px) {
  .slider__title {
    margin-top: 3%;
    font-size: 24px;
  }
  .slider__header {
    padding: 0 102px;
    flex-direction: column;
    row-gap: 2rem;
  }
  .slider__tabs {
    flex-direction: column;
    align-items: center;
  }
}
.container-slider .ui-widget.ui-widget-content {
  border: none;
  margin-top: 76px;
}
.container-slider .slider__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-slider .slider__tabs {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.container-slider .slider__tab {
  background-color: #ffffff;
  border: none;
}
.container-slider .slider__buttons {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.container-slider .slider__button {
  width: 48px;
  height: 48px;
  padding-top: 8px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: #f6f6fa;
}
.container-slider .slider__button:hover {
  background: #bb6bd9;
}
.container-slider .slider__button:focus {
  border: 2px solid #5101a6;
}
.container-slider .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0.5em 0;
  text-decoration: none;
}
.container-slider .ui-helper-clearfix:before,
.container-slider .ui-helper-clearfix:after {
  content: none;
}
.container-slider .ui-widget-header {
  background: #ffffff;
  border: none;
}
.container-slider .ui-widget-header .ui-state-active,
.container-slider .ui-widget-header .ui-state-active a,
.container-slider .ui-widget-header .ui-state-active a:link,
.container-slider .ui-widget-header .ui-state-active a:visited {
  color: #5101a6;
  border: none;
  border-bottom: 2px solid #5101a6;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.container-slider .ui-widget-header .ui-state-default,
.container-slider .ui-widget-header .ui-widget-content .ui-state-default,
.container-slider .ui-widget-header .ui-widget-header .ui-state-default,
.container-slider .ui-widget-header .ui-button,
.container-slider .ui-widget-header html .ui-button.ui-state-disabled:hover,
.container-slider .ui-widget-header html .ui-button.ui-state-disabled:active {
  border: none;
  background: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #200142;
  font-family: "Roboto", sans-serif;
}
.container-slider .ui-widget-header a:hover {
  color: #5101a6;
  cursor: pointer;
}
.container-slider .ui-widget-header a:focus {
  color: #5101a6;
  cursor: pointer;
}
.container-slider .ui-tabs .ui-tabs-panel {
  border-width: 0;
  padding: 3em 16vw;
}
.container-slider .slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-slider .slider__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #5101a6;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.container-slider .slider__text {
  max-width: 250px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #200142;
  font-family: "Roboto", sans-serif;
}
.container-slider .slick-dots {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.container-slider .slick-dots li.slick-active button:before {
  color: #5101a6;
}
.container-slider .slick-dots li {
  width: 10px;
}
.container-slider .slick-dots li button {
  font-size: 8px;
  width: 8px;
}
.container-slider .slick-dots li button::before {
  font-size: 8px;
  width: 8px;
}

.slider__title {
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #200142;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=container-slider.css.map */